[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
openai = "*"
pyarrow = "*"
ipykernel = "*"
requests = "*"
lxml = "*"
html5lib = "*"
bs4 = "*"
pyyaml = "*"
awswrangler = "*"
scrapy = "*"
pandasai = "*"
huggingface-hub = "*"
transformers = "*"
tokenizers = "*"
datasets = "*"
torch = "*"
torchvision = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.2"
